<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="xpd-cache-dir" value="/tmp/xpd.cache" />
		<add key="xpd-cache-minutes" value="120" />
		<add key="xpd-cache-vary-by-cookies" value="govtrack-login,govtrack-monitors" />
	</appSettings>

	<system.web>
		<customErrors mode="Off"/>
		
		<httpHandlers>
			<add verb="*" path="*.xpd" type="XPD.HttpHandler, xpd" />
		</httpHandlers>
		
		<httpModules>
			<remove name="OutputCache"/>
			<remove name="Session"/>
			<remove name="RoleManager"/>
			<add name="GovTrackModule" type="GovTrack.Web.AppModule, GovTrackWeb"/>
		</httpModules>

		<httpRuntime executionTimeout="120"/>
 	
	</system.web>
</configuration>

